<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jsdx.zjj.ssl.dao.TPayoutRepaiMapper">
  <resultMap id="BaseResultMap" type="jsdx.zjj.ssl.entity.TPayoutRepai">
    <id column="Table_Id" jdbcType="INTEGER" property="tableId" />
    <result column="Repair_Name" jdbcType="VARCHAR" property="repairName" />
    <result column="Repair_Type" jdbcType="VARCHAR" property="repairType" />
    <result column="Relet_StartTime" jdbcType="TIMESTAMP" property="reletStarttime" />
    <result column="Relet_FinalTime" jdbcType="TIMESTAMP" property="reletFinaltime" />
    <result column="Employee_Charge" jdbcType="DOUBLE" property="employeeCharge" />
    <result column="Material_Charge" jdbcType="DOUBLE" property="materialCharge" />
    <result column="Other_Charge" jdbcType="DOUBLE" property="otherCharge" />
    <result column="Repair_Date" jdbcType="TIMESTAMP" property="repairDate" />
    <result column="Repair_Content" jdbcType="VARCHAR" property="repairContent" />
    <result column="Admin_Accout" jdbcType="VARCHAR" property="adminAccout" />
    <result column="Create_Man" jdbcType="INTEGER" property="createMan" />
    <result column="Create_Date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="Update_Man" jdbcType="INTEGER" property="updateMan" />
    <result column="Update_Date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="attribute1" jdbcType="VARCHAR" property="attribute1" />
    <result column="attribute2" jdbcType="VARCHAR" property="attribute2" />
    <result column="attribute3" jdbcType="VARCHAR" property="attribute3" />
    <result column="attribute4" jdbcType="VARCHAR" property="attribute4" />
    <result column="attribute5" jdbcType="VARCHAR" property="attribute5" />
    <result column="attribute6" jdbcType="VARCHAR" property="attribute6" />
    <result column="attribute7" jdbcType="VARCHAR" property="attribute7" />
    <result column="attribute8" jdbcType="VARCHAR" property="attribute8" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_payout_repai
    where Table_Id = #{tableId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="jsdx.zjj.ssl.entity.TPayoutRepai">
    <selectKey keyProperty="tableId" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_payout_repai (Table_Id, Repair_Name, Repair_Type, 
      Relet_StartTime, Relet_FinalTime, Employee_Charge, 
      Material_Charge, Other_Charge, Repair_Date, 
      Repair_Content, Admin_Accout, Create_Man, 
      Create_Date, Update_Man, Update_Date, 
      Remark, attribute1, attribute2, 
      attribute3, attribute4, attribute5, 
      attribute6, attribute7, attribute8
      )
    values (#{tableId,jdbcType=INTEGER}, #{repairName,jdbcType=VARCHAR}, #{repairType,jdbcType=VARCHAR}, 
      #{reletStarttime,jdbcType=TIMESTAMP}, #{reletFinaltime,jdbcType=TIMESTAMP}, #{employeeCharge,jdbcType=DOUBLE}, 
      #{materialCharge,jdbcType=DOUBLE}, #{otherCharge,jdbcType=DOUBLE}, #{repairDate,jdbcType=TIMESTAMP}, 
      #{repairContent,jdbcType=VARCHAR}, #{adminAccout,jdbcType=VARCHAR}, #{createMan,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateMan,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, 
      #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, 
      #{attribute6,jdbcType=VARCHAR}, #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="jsdx.zjj.ssl.entity.TPayoutRepai">
    update t_payout_repai
    set Repair_Name = #{repairName,jdbcType=VARCHAR},
      Repair_Type = #{repairType,jdbcType=VARCHAR},
      Relet_StartTime = #{reletStarttime,jdbcType=TIMESTAMP},
      Relet_FinalTime = #{reletFinaltime,jdbcType=TIMESTAMP},
      Employee_Charge = #{employeeCharge,jdbcType=DOUBLE},
      Material_Charge = #{materialCharge,jdbcType=DOUBLE},
      Other_Charge = #{otherCharge,jdbcType=DOUBLE},
      Repair_Date = #{repairDate,jdbcType=TIMESTAMP},
      Repair_Content = #{repairContent,jdbcType=VARCHAR},
      Admin_Accout = #{adminAccout,jdbcType=VARCHAR},
      Create_Man = #{createMan,jdbcType=INTEGER},
      Create_Date = #{createDate,jdbcType=TIMESTAMP},
      Update_Man = #{updateMan,jdbcType=INTEGER},
      Update_Date = #{updateDate,jdbcType=TIMESTAMP},
      Remark = #{remark,jdbcType=VARCHAR},
      attribute1 = #{attribute1,jdbcType=VARCHAR},
      attribute2 = #{attribute2,jdbcType=VARCHAR},
      attribute3 = #{attribute3,jdbcType=VARCHAR},
      attribute4 = #{attribute4,jdbcType=VARCHAR},
      attribute5 = #{attribute5,jdbcType=VARCHAR},
      attribute6 = #{attribute6,jdbcType=VARCHAR},
      attribute7 = #{attribute7,jdbcType=VARCHAR},
      attribute8 = #{attribute8,jdbcType=VARCHAR}
    where Table_Id = #{tableId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select Table_Id, Repair_Name, Repair_Type, Relet_StartTime, Relet_FinalTime, Employee_Charge, 
    Material_Charge, Other_Charge, Repair_Date, Repair_Content, Admin_Accout, Create_Man, 
    Create_Date, Update_Man, Update_Date, Remark, attribute1, attribute2, attribute3,
    attribute4, attribute5, attribute6, attribute7, attribute8
    from t_payout_repai
    where Table_Id = #{tableId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select Table_Id, Repair_Name, Repair_Type, Relet_StartTime, Relet_FinalTime, Employee_Charge, 
    Material_Charge, Other_Charge, Repair_Date, Repair_Content, Admin_Accout, Create_Man, 
    Create_Date, Update_Man, Update_Date, Remark, attribute1, attribute2, attribute3,
    attribute4, attribute5, attribute6, attribute7, attribute8
    from t_payout_repai
  </select>

  <select id="sumMoneyByMon"  parameterType="java.util.Map" resultType="jsdx.zjj.ssl.until.PayouUntil">
    select Repair_Type as payouType,sum(Employee_Charge+Material_Charge+Other_Charge) as payOuMoney
    from t_payout_repai
    <where>
      <if test="payMon=1">
        DATE_FORMAT(Repair_Date,'%Y-%m')=DATE_FORMAT(now(),'%Y-%m')
      </if>
    </where>
    <if test="payMon=1">
      group by Repair_Type
    </if>
  </select>
</mapper>