<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jsdx.zjj.ssl.dao.TRoomMapper">
    <resultMap id="BaseResultMap" type="jsdx.zjj.ssl.entity.TRoom">
        <id column="Table_Id" jdbcType="INTEGER" property="tableId"/>
        <result column="Room_Id" jdbcType="VARCHAR" property="roomId"/>
        <result column="Room_PerCoutn" jdbcType="INTEGER" property="roomPercoutn"/>
        <result column="Room_Type" jdbcType="INTEGER" property="roomType"/>
        <result column="Room_Deposit" jdbcType="DOUBLE" property="roomDeposit"/>
        <result column="Water_Mon" jdbcType="DOUBLE" property="waterMon"/>
        <result column="Electric_Mon" jdbcType="DOUBLE" property="electricMon"/>
        <result column="Room_Thing" jdbcType="VARCHAR" property="roomThing"/>
        <result column="Room_Status" jdbcType="INTEGER" property="roomStatus"/>
        <result column="Room_Pic" jdbcType="VARCHAR" property="roomPic"/>
        <result column="Create_Man" jdbcType="INTEGER" property="createMan"/>
        <result column="Create_Date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="Update_Man" jdbcType="INTEGER" property="updateMan"/>
        <result column="Update_Date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="Remark" jdbcType="VARCHAR" property="remark"/>
        <result column="attribute1" jdbcType="VARCHAR" property="attribute1"/>
        <result column="attribute2" jdbcType="VARCHAR" property="attribute2"/>
        <result column="attribute3" jdbcType="VARCHAR" property="attribute3"/>
        <result column="attribute4" jdbcType="VARCHAR" property="attribute4"/>
        <result column="attribute5" jdbcType="VARCHAR" property="attribute5"/>
        <result column="attribute6" jdbcType="VARCHAR" property="attribute6"/>
        <result column="attribute7" jdbcType="VARCHAR" property="attribute7"/>
        <result column="attribute8" jdbcType="VARCHAR" property="attribute8"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_room
        where Table_Id = #{tableId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="jsdx.zjj.ssl.entity.TRoom">
        <selectKey keyProperty="tableId" order="BEFORE" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_room (Table_Id, Room_Id, Room_PerCoutn,
        Room_Type, Room_Deposit, Water_Mon,
        Electric_Mon, Room_Thing, Room_Status,
        Room_Pic, Create_Man, Create_Date,
        Update_Man, Update_Date, Remark,
        attribute1, attribute2, attribute3,
        attribute4, attribute5, attribute6,
        attribute7, attribute8)
        values (#{tableId,jdbcType=INTEGER}, #{roomId,jdbcType=VARCHAR}, #{roomPercoutn,jdbcType=INTEGER},
        #{roomType,jdbcType=INTEGER}, #{roomDeposit,jdbcType=DOUBLE}, #{waterMon,jdbcType=DOUBLE},
        #{electricMon,jdbcType=DOUBLE}, #{roomThing,jdbcType=VARCHAR}, #{roomStatus,jdbcType=INTEGER},
        #{roomPic,jdbcType=VARCHAR}, #{createMan,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
        #{updateMan,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
        #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR},
        #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR},
        #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="jsdx.zjj.ssl.entity.TRoom">
        update t_room
        set Room_Id       = #{roomId,jdbcType=VARCHAR},
            Room_PerCoutn = #{roomPercoutn,jdbcType=INTEGER},
            Room_Type     = #{roomType,jdbcType=INTEGER},
            Room_Deposit  = #{roomDeposit,jdbcType=DOUBLE},
            Water_Mon     = #{waterMon,jdbcType=DOUBLE},
            Electric_Mon  = #{electricMon,jdbcType=DOUBLE},
            Room_Thing    = #{roomThing,jdbcType=VARCHAR},
            Room_Status   = #{roomStatus,jdbcType=INTEGER},
            Room_Pic      = #{roomPic,jdbcType=VARCHAR},
            Create_Man    = #{createMan,jdbcType=INTEGER},
            Create_Date   = #{createDate,jdbcType=TIMESTAMP},
            Update_Man    = #{updateMan,jdbcType=INTEGER},
            Update_Date   = #{updateDate,jdbcType=TIMESTAMP},
            Remark        = #{remark,jdbcType=VARCHAR},
            attribute1    = #{attribute1,jdbcType=VARCHAR},
            attribute2    = #{attribute2,jdbcType=VARCHAR},
            attribute3    = #{attribute3,jdbcType=VARCHAR},
            attribute4    = #{attribute4,jdbcType=VARCHAR},
            attribute5    = #{attribute5,jdbcType=VARCHAR},
            attribute6    = #{attribute6,jdbcType=VARCHAR},
            attribute7    = #{attribute7,jdbcType=VARCHAR},
            attribute8    = #{attribute8,jdbcType=VARCHAR}
        where Table_Id = #{tableId,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select Table_Id,
               Room_Id,
               Room_PerCoutn,
               Room_Type,
               Room_Deposit,
               Water_Mon,
               Electric_Mon,
               Room_Thing,
               Room_Status,
               Room_Pic,
               Create_Man,
               Create_Date,
               Update_Man,
               Update_Date,
               Remark,
               attribute1,
               attribute2,
               attribute3,
               attribute4,
               attribute5,
               attribute6,
               attribute7,
               attribute8
        from t_room
        where Table_Id = #{tableId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select Table_Id,
               Room_Id,
               Room_PerCoutn,
               Room_Type,
               Room_Deposit,
               Water_Mon,
               Electric_Mon,
               Room_Thing,
               Room_Status,
               Room_Pic,
               Create_Man,
               Create_Date,
               Update_Man,
               Update_Date,
               Remark,
               attribute1,
               attribute2,
               attribute3,
               attribute4,
               attribute5,
               attribute6,
               attribute7,
               attribute8
        from t_room
    </select>

    <select id="coutAllRoom" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1)
        from t_room
        <where>
            <if test="romsta = 1">
                Room_Status = 3
            </if>
            <if test="romsta = 2">
                Room_Status = 2 and to_days(Create_Date) = to_days(now())
            </if>
            <if test="romsta = 3">
                Room_Status = 1
            </if>
            <if test="yearByMonRoom = 1">
                DATE_FORMAT(Create_Date,'%Y')=DATE_FORMAT(now(),'%Y')
            </if>
        </where>
        <if test="yearByMonRoom = 1">
            group by DATE_FORMAT(Create_Date,'%Y-%m')
        </if>
    </select>
</mapper>